#header {
    padding: 0%;
    margin: 0%;
}

#body {
    padding: 0%;
    margin: 0%;
}

#about {
    border-style: solid;
    border-color: gray;
}

#location {
    border-style: solid;
    border-color: gray;
}

#prices {
    color: white;
    text-align: center;
    border-style: solid;

}

#prices1 {
    font-family: sans-serif
}

#footer {
    text-align: center;
    background-image: url(https://st.depositphotos.com/1203257/4886/i/950/depositphotos_48867585-stock-photo-summer-car-washing.jpg);
}

.icons {
    align-items: center;
    width: 5rem;
    margin: 1rem;
}

#bluecar {
    align-items: center;
    height: 78%;
    width: 100%;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

#fieldset {
    background-color: gainsboro;
}


#logo:hover {
    animation-name: animatepic;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}

@keyframes animatepic {
    0% {
        transform: rotate(0deg);
        border-radius: 0;
    }

    25% {
        transform: rotate(90deg);
        border-radius: 0;
        border-top-right-radius: 50%;
    }

    50% {
        transform: rotate(180deg);
        border-radius: 0;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
    }

    75% {
        transform: rotate(270deg);
        border-radius: 0;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-bottom-left-radius: 50%;
        filter: grayscale(50%);
    }

    100% {
        transform: rotate(360deg);
        border-radius: 50%;
        filter: grayscale(100%);
    }
}